
@using PurchasePortal.Web.Models.DTOs.PromotionCategory
@model CreatePromotionCategoryDto

<div class="modal fade" id="createPromotionCategoryModal" tabindex="-1" aria-labelledby="createPromotionCategoryModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="createPromotionCategoryModalLabel">Add Promotion Category</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form asp-action="Create" asp-controller="PromotionCategory" method="post">
                    <div class="mb-3">
                        <label asp-for="Name" class="form-label">Name</label>
                        <input asp-for="Name" class="form-control" required>
                    </div>
                    <button type="submit" class="btn btn-primary">Save</button>
                </form>
            </div>
        </div>
    </div>
</div>
