@using PurchasePortal.Web.Models.DTOs.Category


 @model UpdateCategoryDto


<div class="modal-header">
    <h5 class="modal-title" id="editCategoryModalLabel">Edit Category</h5>
    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
</div>
<div class="modal-body">
    <form asp-action="Edit" asp-controller="Category" method="post">
        <input type="hidden" asp-for="Id" />
        <div class="mb-3">
            <label for="editCategoryName" class="form-label">Name</label>
            <input type="text" class="form-control" id="editCategoryName" name="Name" asp-for="Name" required>
        </div>
        <div class="mb-3">
            <label for="editCategoryDescription" class="form-label">Description</label>
            <textarea class="form-control" id="editCategoryDescription" name="Description" asp-for="Description" rows="3"></textarea>
        </div>
        <button type="submit" class="btn btn-primary">Save Changes</button>
    </form>
</div>

